* {
  margin: 0;
  padding: 0;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-row-gap: 10px;
  justify-content: center;
  border-radius: 50%;
  padding: 20px;
}

section div {
  border-radius: 10px;
  border: solid 2px black;
}

.green {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: hsla(120, 90%, 40%, 1);
  box-shadow: 0 0 5px 3px hsla(120, 90%, 40%, 1);
}

.greenActive {
  background-color: hsla(120, 90%, 70%, 1);
  transition: .3s;
}

.red {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: hsla(360, 100%, 40%, 1);
  box-shadow: 0 0 5px 3px hsla(360, 100%, 40%, 1);
}

.redActive {
  background-color: hsla(360, 90%, 70%, 1);
  transition: .3s;
}

.blue {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: hsla(240, 100%, 40%, 1);
  box-shadow: 0 0 5px 3px hsla(240, 100%, 40%, 1);
}

.blueActive {
  background-color: hsla(240, 90%, 70%, 1);
  transition: .3s;
}

.yellow {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: hsla(60, 90%, 45%, 1);
  box-shadow: 0 0 5px 3px hsla(60, 90%, 45%, 1);
}

.yellowActive {
  background-color: hsla(60, 90%, 70%, 1);
  transition: .3s;
}