* {
  margin: 0;
  padding: 0;
  background-color: hsla(120, 0%, 10%, 1);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  text-align: center;
  color: hsla(360, 100%, 98%, 1);
}

section {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;
  justify-content: center;
  border-radius: 50%;
  padding: 20px;
}

section div {
  border-radius: 10px;
  border: solid 2px black;
}

.green {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: hsla(120, 90%, 40%, 1);
  box-shadow: 0 0 5px 3px hsla(120, 90%, 40%, 1);
  transition: 0.3s;
  cursor: pointer;
}

.greenActive {
  background-color: hsla(120, 90%, 60%, 1);
  box-shadow: 0 0 15px 7px hsla(120, 90%, 55%, 1);
  transition: 0.3s;
}

.red {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: hsla(360, 100%, 40%, 1);
  box-shadow: 0 0 5px 3px hsla(360, 100%, 40%, 1);
  transition: 0.3s;
  cursor: pointer;
}

.redActive {
  background-color: hsla(360, 90%, 65%, 1);
  box-shadow: 0 0 15px 7px hsla(360, 90%, 55%, 1);
  transition: 0.3s;
}

.blue {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: hsla(240, 100%, 40%, 1);
  box-shadow: 0 0 5px 3px hsla(240, 100%, 40%, 1);
  transition: 0.3s;
  cursor: pointer;
}

.blueActive {
  background-color: hsla(240, 90%, 65%, 1);
  box-shadow: 0 0 15px 7px hsla(240, 90%, 55%, 1);
  transition: 0.3s;
}

.yellow {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: hsla(60, 90%, 40%, 1);
  box-shadow: 0 0 5px 3px hsla(60, 90%, 45%, 1);
  transition: 0.3s;
  cursor: pointer;
}

.yellowActive {
  background-color: hsla(60, 90%, 65%, 1);
  box-shadow: 0 0 15px 7px hsla(60, 90%, 55%, 1);
  transition: 0.3s;
}

.start {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: relative;
  border: none;
  border-radius: 0;
}

.start button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: none;
  color: hsla(360, 100%, 98%, 1);
  font-size: 1.5rem;
  background-color: hsla(275, 90%, 50%, 1);
  padding: 15px;
  border-radius: 5px;
}

.start button:hover {
  background-color: hsla(275, 90%, 55%, 1);
  transition: .3s;
  cursor: pointer;
}